
<nav 
  [ngClass]="showNavbar ? 'visible' : 'd-none'"
  class="site-nav dark sticky-top  mb-5 " 
  id="header-section"
  >
  <div class="container">
    <div class=" d-flex justify-content-between">
      <a href="/" class="logo m-0"
        >Profile</a
      >

      <a
        (click)="navbarOpened()"
        [ngClass]="isNavbarOpened ? 'd-none' : 'd-inline-block'"
        class="ml-auto float-end"
      >
      <!-- <img src="../../assets/img/menuToggle.svg" alt="" srcset="" style="width: 30px;"> -->
        <span class="hamburger"><i class="fas fa-bars" ></i></span>
      </a>
    </div>
  </div>
</nav>    
<div 
  [ngClass]="isNavbarOpened ? 'site-mobile-menu' : ''" 
  id="main-navbar" 
  class="navbar d-flex flex-column justify-content-start float-end"
  >
    
    <span class="navCloseToggle"
        (click)="navbarOpened()"
    >       
        X
    </span>

    <ul >
        <li><a routerLink="/" class="nav-link " (click)="navbarOpened()">Home</a></li>
        <li><a fragment="about-section" routerLink="." class="nav-link" (click)="navbarOpened()">About</a></li>
        <li><a fragment="experience-section" routerLink="." class="nav-link" (click)="navbarOpened()">Experience</a></li>
        <li><a fragment="services-section" routerLink="/" class="nav-link" (click)="navbarOpened()">Services</a></li>
        <li><a fragment="projects-section" routerLink="/" class="nav-link" (click)="navbarOpened()">Projects</a></li>
        <li><a fragment="contact-section" routerLink="/" class="nav-link" (click)="navbarOpened()">Contact us</a></li>
    </ul>
</div>
<div  
  [ngClass]="isNavbarOpened ? '': 'd-none'"
  (click)="navbarOpened()"
  class="navbar-overlay"
>
</div>

