<div class="portfolio-section site-footer mt-5 pt-3 pb-5" id="footer-section">
    <div class="container">
      <!-- <div class="splitter"></div> -->
      <div class="row align-items-center justify-content-center">
     
        <div class="col-lg-6 widget">
          <div class="widget">
            <ul class="list-unstyled d-flex flex-wrap justify-content-around gap-2 links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->
   
        <div class="col-lg-6 widget">
          <div class="">
            <h3>Contact</h3>
            <address>43 Raymouth Rd. Baltemoer, London 3910</address>
            <ul class="list-unstyled links mb-4">
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li><a href="mailto:info@mydomain.com">info&#64;mydomain.com</a></li>
            </ul>

            <h3>Connect</h3>
            <ul class="list-unstyled social d-flex flex-wrap gap-3">
              <li><a href="#"><span class="fa fa-google"></span></a></li>
              <li><a href="#"><span class="fa fa-github"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
            </ul>

          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

      </div> <!-- /.row -->





      <div class="row mt-5">
        <div class="col-12 text-center">
          <!-- 
            **==========
            NOTE: 
            Please don't remove this copyright link unless you buy the license here https://untree.co/license/  

            **==========
          -->
          <p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
          </p>
        </div>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /.site-footer -->
