<div class="portfolio-section pb-0  " id="about-section">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-lg-7 mx-auto text-center author-wrap">
          <img src="../../assets/img/myImage.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
          <div>
            <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">Ibrahim AL Siblani</h3>

        
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7" data-aos="zoom-out">


          <p class="gsap-reveal-hero">I am an enthusiastic and versatile technologist with a passion for innovation and problem-solving. My proficiency spans various hard skills, including mastery of programming 
            languages such as <b>C</b>, <b>Java</b>, <b>Python</b>, and <b>C#</b>, and expertise in full-stack web development using <b>HTML</b>, <b>CSS</b>, <b>Bootstrap</b>, <b>Tailwind</b>, <b>JavaScript</b>, <b>Angular</b> and <b>ReactJs</b>. </p>

          <p class="gsap-reveal-hero"> possess a robust backend aptitude, encompassing technologies like <b>PHP</b>, <b>ASP.Net Core</b>, and <b>Spring Boot</b>, coupled with <b>Git version control</b>. This enables me to craft resilient 
            applications that seamlessly integrate diverse components. </p>

          <p class="gsap-reveal-hero">My skills extend to desktop development with <b>JavaFX</b>, data management using <b>SQL</b> and <b>MYSQL</b> databases, and a solid grasp of design patterns like <b>MVC</b>. I excel in parallel 
            computing, threading, and <b>Linux</b> command-line operations, enhancing my ability to tackle complex challenges.</p>

          <p class="gsap-reveal-hero">Complementing my technical aptitude, I am a proven problem solver, backed by accomplishments on platforms like HackerRank and GeeksForGeeks. With effective 
            communication skills honed through a sales role and collaborative experiences in university projects, I seamlessly integrate within diverse teams. </p>

          <p class="gsap-reveal-hero mb-5">I am driven to push my boundaries, seeking solutions with a proactive mindset. Ready to contribute my dynamic skill set to innovative teams poised for transformative 
            endeavors.</p>


          <p class="gsap-reveal-hero text-center"><a href="https://untree.co/" target="_blank" class="btn btn-outline-black">Hire Me at Untree.co</a></p>    
        </div>
      </div>
    </div>
  </div>


  <script>


  </script>


