<div class="portfolio-section pb-0  " id="about-section">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-lg-7 mx-auto text-center author-wrap">
          <img src="../../assets/img/myImage.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
          <div>
            <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">Ibrahim AL Siblani</h3>
          <p class="gsap-reveal-hero" id="typing-container" > 
            <span id="typed-text" >{{ typedText }}</span> 
            <span id="typing-cursor">|</span>
          </p>
        
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7" data-aos="zoom-out">


          <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

          <p class="gsap-reveal-hero">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

          <p class="gsap-reveal-hero">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>

          <p class="gsap-reveal-hero">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>

          <p class="gsap-reveal-hero mb-5">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>


          <p class="gsap-reveal-hero text-center"><a href="https://untree.co/" target="_blank" class="btn btn-outline-black">Hire Me at Untree.co</a></p>    
        </div>
      </div>
    </div>
  </div>


  <script>


  </script>


