#about-section{
    padding-top: 170px;
}


#about-section > div{
    background-color: #0389ff;
    padding: 50px;
}
.author-wrap{
   position: relative;
   margin-top: -100px;
}
.author-wrap > img{
    width: 200px;
    height: 200px;
}

