<div class="portfolio-section pb-0">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <h1 class="heading  mb-3"><strong>Ibrahim AL Siblani</strong></h1>
          <p class="gsap-reveal-hero" id="typing-container" > 
            <span id="typed-text" >{{ typedText }}</span> 
            <span id="typing-cursor">|</span>
          </p>
          <h2 class="subheading  mb-4">
            Thank you for visiting my portfolio! I'm delighted to share my journey, experiences, and passion with you through this website. 
          </h2>
          <button type="button" target="_blank" class="btn btn-outline-black" >
            Download CV
          </button> 
        </div>
      </div>
      
    </div>
</div>
<div class="intro-background">
</div>