<div class="container" id="project-detial">
    <div class="row ">
       <div class="col-lg-7 ">
            <div class="d-flex flex-wrap justify-content-between">
                <h3>{{specProject.title}}</h3>
                <h5><i>{{ specProject.category }}</i></h5>
            </div>
            <!-- Show the stack used in making this project -->
            <p><strong>Stack: </strong></p>
            <div class="skills" *ngIf="specProject.frontEnd.length>0">
                <p class="mb-1">Frontend : </p>
                <span class="badge bg-success" *ngFor="let front of specProject.frontEnd">{{front}}</span>
            </div>
            <div class="skills" *ngIf="specProject.backEnd.length > 0">
                <p class="mb-1">Backend : </p>
                <span class="badge bg-warning" *ngFor="let back of specProject.backEnd">{{back}}</span>
            </div>
            <hr/>
            <ol>
                <li *ngFor="let desc of specProject.desc.split('•')">{{desc}}</li>
            </ol>
            <div class="d-flex justify-content-center" >
                <button *ngIf="specProject.link.length>0" type="button" class="btn btn-outline-black">Explore it online</button>
            </div>
            
       </div> 
       <div class="col-lg-5 mb-4" data-aos="zoom-in">
        <!-- <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of specProject.detailedImg;let index = index">
                <ng-template carouselSlide [id]="''+index">
                    <div class="detialed-card-container">
                        <img  
                            [src]="'assets/img/projects/'+slide" 
                            class="portfolio-card-img" 
                            [alt]="slide"
                        >  
                    </div>
                </ng-template>  
            </ng-container>
        </owl-carousel-o> -->
        <div class="images row" [photoGalleryGroup]="{ arrowKeys: false ,arrowEl: false, closeEl: false, zoomEl: false ,indexIndicatorSep: ' / ' }">
            <div 
                class="images-item col-lg-5 col-sm-12 " 
                *ngFor="let imgs of specProject.detailedImg"
                [photoGallery]="'assets/img/projects/'+imgs"
                >
              <img [src]="'assets/img/projects/'+imgs" />
            </div>
        </div>
    </div>
    </div>
</div>

