@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: "PT Mono", monospace;
    line-height: 1.6;
    background: #ffffff;
    overflow-x: hidden;
    
    color: #212529;
}
/* On Selection */
 p::selection,input::selection,textarea::selection , address::selection, li a::selection{
  color: #ffffff;
  background-color: #000000;
 }
 h2::selection,h3::selection ,li::selection, h4::selection, strong::selection{
  color: #f5f5f5;
  background-color: #161616;
 }
 span::selection,b::selection{
  color: #c0c0c0;
  background-color: #1f1f1f;
 }
/* Portfolio section */
/*  THIS CSS STYLE IS REPEATED FOR ALL SECTIONS */
.portfolio-section {
    padding: 7rem 0; 
    margin-top: 5rem;
  }
    .portfolio-section .heading, .portfolio-section .subheading {
      color: #000000; }
      .portfolio-section .heading strong, .portfolio-section .subheading strong {
        font-weight: 700; }
    .portfolio-section .heading {
      font-size: 30px; }
    .portfolio-section .subheading {
      font-size: 16px;
      font-family: "PT Mono", monospace; 
    }
    .portfolio-section button{
        letter-spacing: 2px;
        width: 250px;
    }
/* Buttons style */
.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 0px;
  font-size: 12px;
  border: 1px solid transparent;
}
.btn.btn-black {
  background: #000000;
  color: #ffffff;
}
  .btn.btn-black:hover {
    border-color: #000000;
    background: transparent;
    color: #000000;
  }
.btn.btn-outline-black {
  background: transparent;
  color: #000000;
  border-color: #000000;
}
  .btn.btn-outline-black:hover {
    border-color: #000000;
    background: #000000;
    color: #ffffff;
  }

/*Owl carousel styles*/
.owl-nav{
  /* position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 80px; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: -5%;
  top: 50%;
  width: 110%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    background: transparent !important;
    color: #212529 !important;
    transition: 0.2s all linear;
  }

  .owl-nav .owl-prev:hover {
    color: #0389ff !important;
    transform: translateX(-3px);
  }

  .owl-nav .owl-next:hover {
    color: #0389ff !important;
    transform: translateX(3px);
  }
.owl-dots .owl-dot span {
  display: inline-block;
  width: 8px!important;
  height: 8px!important;
  border-radius: 50%!important;
  background: rgba(0, 0, 0, 0.2)!important;
}
.owl-dots .owl-dot.active span{
  background: #0389ff!important;
}
/* Common wavy line */
.wave > div{
  width: 90px;
  height: 20px;
}
.moving-line{
  position: relative;
  width: 100%;
}
@keyframes moveWaves {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}